    .container-1{
        background-image: url('fondo.jpg_large'); 
    }

    .fondo{
        background-image: url(Horimiya.jpg);
        background-position: center;
        background-attachment: fixed
    }

    .page-footer{
        background-image: url(fondo.jpg_large);
    }

    .form-label {
        color: rgb(134, 21, 96);
    }

    h5 {
        color: rgb(134, 21, 96);
    }

    .mb-3 {
        color: rgb(134, 21, 96);
    }

    .nav-link {
        color: rgb(134, 21, 96);
    }

    .my-4 {
        border-color: rgb(56, 0, 38);
    }
.btn {
    color: rgb(253, 253, 253);
    background: rgb(134, 21, 96);
}

a {
    text-decoration: none;
    color: rgb(134, 21, 96);
}

.form-select {
    color: rgb(134, 21, 96);
}

.text {
    color: rgb(134, 21, 96);
}

.fs-4 {
    color: rgb(134, 21, 96);
    margin-left: 40px;
}