body {
    background-image: url('Default_backgrou.jpg');
    background-size: 100% 100%;
      background-position: center;
      height: 100vh; /* Ajusta la altura según lo necesites */
    }

    .containercr{
        background-color: darkslateblue;
        border-radius: 10px;
    }
    .containercr7{
        background-color: rgb(104, 102, 121);
        border-radius: 10px;
    }