    .container-1{
      background-image: url('fondo.jpg_large'); 
    }

    .fondo{
        background-image: url(Horimiya.jpg);
        background-position: center;
        background-attachment: fixed
    }

    .page-footer{
        background-image: url(fondo.jpg_large);
    }